<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <title>INDEX</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'/>
    <link rel="stylesheet" type="text/css"
          href="../static/styles.css"
          th:href="@{styles.css}"/>
</head> <!-- head ends -->

<body>

    <!-- Div body, box for all content between header and footer -->
    <div id="body" >
        <div id="index_content">
            <table>
                <div th:each="user : ${users}">
                    <div th:if="${user.username.equals('null')}">
                        <form action="/login"  th:action="@{/login}" method="post" th:object="${login}">
                            <tr>
                                <td><p>Username:</p><input type="text" th:field="*{username}" /></td>
                                <td><p>Password:</p><input type="password" th:field="*{password}" /></td>
                                <td><p style="color:#fff;">|</p><input type="submit" value="Login" /></td>
                            </tr>
                            <tr><td><p></p></td></tr> <!-- Lazy space between create button and the other inputs -->
                            <tr>
                                <td><a href="/create"><input type="button" value="Create User" /></a></td>

                            </tr>
                        </form>
                    </div>

                    <div th:unless="${user.username.equals('null')}">
                            <tr>
                                <td><span><h3 style="float:left; margin:0 10px">WELCOME </h3></span><span><h3 style="float:left;margin:0;" th:text="${user.username}"></h3></span></td>
                                <td><a href="/update"><input type="button" value="Update Password" /></a></td>
                                <form action="/delete"  th:action="@{/delete}" method="post" th:object="${user}">
                                    <td><input type="submit" value="delete" /></td>
                                </form>
                            </tr>

                    </div>
                </div>
            </table>
        </div>
    </div>

</body> <!-- body ends here -->

</html> <!-- html ends -->