<!DOCTYPE html>
<html lang="en">
    <head>

        <title>UPDATE</title>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'/>
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'/>
        <link rel="stylesheet" type="text/css"
              href="../static/styles.css"
              th:href="@{styles.css}"/>
    </head> <!-- head ends -->

<body>

<!-- Div body, box for all content between header and footer -->
<div id="body" >
    <table>
        <form action="/create"  th:action="@{/create}" method="post" th:object="${user}">

            <tr>
                <td><input type="text" th:field="*{username}" placeholder="User Name"/></td>
                <td><input type="password" th:field="*{newpass}" placeholder="Password"/></td>
                <td><input type="password" th:field="*{password1}" placeholder="Password"/></td>
                <td><input type="password" th:field="*{password2}" placeholder="Password"/></td>

                <td><input type="submit" value="Update" class="btn"/></td>
                <td><a href="/"><input type="button" value="Cancel" /></a></td>
            </tr>

        </form>

    </table>
</div> <!-- div body ends here -->

</body> <!-- body ends here -->

</html> <!-- html ends -->